	<!-- Page header -->
	<div class="page-header">
		<div class="system-alerts">
			<div class="row">
				<div class="col-md-11">
					<% if (system && typeof system.msg !== 'undefined') { %>
						<%- app.alert(system.msg);%>
					<% } %>
				</div>
				<div class="col-md-1">
					<i class="icon-cog pull-right"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->
