<% include includes/header %>

<% include includes/pageheader %>
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-title h6">
							<span>Navigation</span>
						</div>

						<div class="category-content no-padding">
							<% include includes/navigation %>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<%
					if (typeof data !== 'undefined') {
						%>

				<div class="row">
						<div class="alert alert-info">
						<%
							switch(data.msg){
								case '3' :
									%> <strong>Post has been trashed. Trashed posts will auto delete in 24 hours.</strong> <%
								break;
								default :
									%> <strong>Uhhmm... Whatcha do'n there?</strong> <%
								break;
							}
						%>
				</div>
						<%
					}

				%>

				<!-- Single line -->
				<div class="panel panel-white">
					<div class="panel-heading">
						<h6 class="panel-title">Dashboard Stuff</h6>
					</div>

					<div class="panel-toolbar panel-toolbar-inbox">

					</div>

					<div class="table-responsive">
					</div>
				</div>
				<!-- /single line -->

			</div>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

<% include includes/footer %>